@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.kzui-design-system {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-overflow: ellipsis;
  background-color: #fff;
  border: 1px solid #dddddf;
  border-radius: 16px;
  position: relative;
  overflow: visible;
  min-height: calc(100vh - 100px);
}

.kzui-design-system__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0f0e16;
}

.kzui-design-system__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-top: 1px solid #dddddf;
  border-bottom: 1px solid #dddddf;
}

.kzui-design-system__tab {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #74777c;
  font-weight: 400;
}

.kzui-design-system__tab--active {
  border-bottom: 2px solid #13191b;
  color: #0f0e16;
}

.kzui-design-system__search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.kzui-search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 4px;
  box-sizing: border-box;
}
.kzui-search-input {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  border: 1px solid #dddddf;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
}

.kzui-search-icon {
  position: absolute;
  left: 10px;
  color: grey;
}

.kzui-design-system__search {
  flex-shrink: 0;
}

.kzui-color-list__header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 10px 0;
  font-weight: 500;
  color: #454d54;
  align-items: center;
  border-bottom: 1px solid #dddddf;
  margin-bottom: 10px;
}

.kzui-color-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.kzui-border__bottom {
  border-bottom: 1px solid #dddddf;
}
.kzui-color-item {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 8px;
}

.kzui-color-item:hover {
  background-color: #f5f5f5;
}

.kzui-color-item__content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kzui-color-item__drag-handle {
  cursor: move;
  color: #999;
  display: none;
}

.kzui-color-item:hover .kzui-color-item__drag-handle,
.kzui-color-item--selected .kzui-color-item__drag-handle {
  display: inline-flex;
}

.kzui-color-item__checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid grey;
  cursor: pointer;
  position: relative;
  background-color: white;
}
.kzui-color-item__checkbox:checked {
  background-color: #13191b;
}

.kzui-color-item__checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 3px;
}

.kzui-value-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dddddf;
  max-width: 50%;
  padding: 5px;
  border-radius: 4px;
  position: relative;
}
.kzui-color-item__color-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.kzui-color-item__color-icon::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgb(221, 221, 223);
  left: 30px;
  top: 0;
}
.kzui-color-item__value {
  color: #0f0e16;
  font-size: 12px;
  font-weight: 400;
}

.kzui-color-item__actions {
  position: relative;
}

.kzui-color-item__menu-button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #666;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kzui-color-item:hover .kzui-color-item__menu-button {
  opacity: 1;
}

.kzui-color-item__menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 8px 24px 0px rgba(19, 25, 27, 0.16);
  z-index: 10;
}

.kzui-color-item__menu button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: #13191b;
  font-size: 12px;
  font-weight: 400;
}

.kzui-color-item__menu button:hover {
  background-color: #f5f5f5;
}

.kzui-color-item__menu button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.kzui-design-system__add-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #74777c;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.kzui-drawer {
  position: absolute;
  right: 0;
  top: 150px;
  width: 100%;
  max-width: 300px;
  min-height: calc(100vh - 250px);
  background-color: white;
  border-top: 1px solid #dddddf;
  border-left: 1px solid #dddddf;
  border-bottom: 1px solid #dddddf;
  box-shadow: -12px 0px 24px -12px rgba(19, 25, 27, 0.08);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.kzui-drawer.open {
  transform: translateX(0);
}

.kzui-drawer__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.kzui-drawer__input-group {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.kzui-drawer__label {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}

.kzui-drawer__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddf;
  border-radius: 4px;
  box-sizing: border-box;
}

.kzui-drawer__value-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.kzui-drawer__value-group span {
  color: #13191b;
  font-size: 12px;
  font-weight: 400;
}

.kzui-drawer__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  border-top: 1px solid #dddddf;
  padding-top: 20px;
}

.kzui-drawer__button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}

.kzui-drawer__button--cancel {
  background: none;
  color: #13191b;
  border-radius: 8px;
  border: 1px solid #dddddf;
}

.kzui-drawer__button--save {
  background-color: #13191b;
  color: white;
  border-radius: 8px;
}

.kzui-hidden-mobile {
  display: none;
}

@media (min-width: 769px) {
  .kzui-hidden-mobile {
    display: initial;
  }
}

@media (max-width: 768px) {
  .kzui-design-system {
    margin: 20px 10px;
    padding: 15px;
  }

  .kzui-design-system__title {
    font-size: 24px;
  }

  .kzui-design-system__tabs {
    flex-direction: column;
    align-items: flex-start;
  }

  .kzui-design-system__search {
    width: 100%;
    margin-top: 10px;
  }

  .kzui-search-input-wrapper {
    width: 100%;
    max-width: none;
  }

  .kzui-color-list__header,
  .kzui-color-item {
    grid-template-columns: 1fr auto;
  }

  .kzui-color-item__content {
    grid-column: 1 / -1;
    margin-bottom: 10px;
  }

  .kzui-value-box {
    max-width: 100%;
  }

  .kzui-color-item__actions {
    grid-column: 2;
    grid-row: 1;
  }

  .kzui-color-item__menu-button {
    opacity: 1;
  }

  .kzui-drawer {
    width: 100%;
    max-width: none;
    top: 0;
    right: 0;
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .kzui-design-system {
    margin: 10px 5px;
    padding: 10px;
  }

  .kzui-design-system__title {
    font-size: 20px;
  }

  .kzui-design-system__tab {
    font-size: 14px;
    padding: 8px;
  }

  .kzui-color-item {
    padding: 8px;
  }

  .kzui-color-item__content {
    flex-wrap: wrap;
  }

  .kzui-drawer__button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
